# /etc/systemd/network/20-eth0.network
[Match]
Name=eth0

[Network]
#Bond=bond0
DHCP=yes
#LinkLocalAddressing=no
#PrimarySlave=true
DNSDefaultRoute=yes
DNS=8.8.8.8 8.8.4.4

[DHCP]
UseDNS=yes
RoutesToDNS=yes
UseDomains=yes
UseRoutes=yes
UseGateway=yes
RouteMetric=20